@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: rgb(42, 78, 107);
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas{
  border: 2px solid steelblue;
  background-color: #FFF;
}

.toolbox{
  background-color: steelblue;
  border: 1px solid slateblue;
  display: flex;
  width: 904px;
  padding: 1rem;
}

.toolbox > *{
  background-color: #FFF;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
}

.toolbox > *:last-child{
  margin-left: auto;
}